<% var title = 'Login Mashiro' %>
<% include partials/header %>
<style>
body {
    background-color: #00B0F0;
}
</style>
<script>
    document.body.onload = () => {
        const url = new URL(window.location.href);
        const c = url.searchParams.get("loginFailed");
        
        if (c === "true") {
            document.getElementById("loginFail").style.display = "block";
        }
    }
</script>
    <div id="box">
        <div id="loginFail" class="isa_error" style="display:none;">
            <i class="fa fa-times-circle"></i>
            Wrong username or password.
        </div>
        <form method="POST" action="/login">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3" name="username">
                <label class="mdl-textfield__label" for="sample3">Username</label>
            </div>
            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="sample3" name="pass">
                <label class="mdl-textfield__label" for="sample3">Password</label>
            </div>
            <br>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored login-button">
                Login
            </button>
            <br>
        </form>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored login-button" style="background-color: #7289DA" onclick="window.location.href='oauth/discord/login'">
            Login Through Discord
        </button>
    </div>
<% include partials/foot %>